.idea/
*.iws
*.iml
*.ipr
out/

*.class
*.log
*.ctxt

target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

application-local.yml
application-local.properties
.env

logs/
*.log

.DS_Store
Thumbs.db

docker-data/
*.tar

node_modules/
dist/
coverage/

surefire-reports/